



h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.2rem;
  font-weight: 10;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  font-weight: bold;
  border: 2px solid black;  
  padding: 5px;             
  display: inline-block;    
  border-radius: 5px; 

}



main {
  column-count: 3;
}

main p:first-child {
  margin-top: 0;
}

#page {
  width: 70%;
  background-color: white;
  margin: 50px auto;
  padding: 5%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}

header p {
    text-transform: uppercase;
    text-emphasis: inherit;
    font-weight: bold;
}

main h4 {
    font-weight: bold;
}
h2 {
column-span: all;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px 0;
  margin-bottom: 20px;
}