/*  Reset & Box Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Global Styles (The Background) */
body {
    background-color: #0a0a0a; 
    color: #e0e0e0; 
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

/*  This is where i decided to create a archway of sorts to portray the Album Cover*/
article {
    background: #000;
    max-width: 600px;
    padding: 100px 50px;
    margin: 40px 0;
    border-radius: 350px 350px 0 0; /* Creates the Arch */
    /* The glow around the lyrics */
    box-shadow: 0 -20px 100px rgba(44, 83, 100, 0.4),                0 0 40px rgba(32, 32, 64, 0.6);
    text-align: center;
}

/* Typography Styles */
h1 {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #868686;
}

/* Styling the Chorus (Quote) */
blockquote {
    font-size: 1.4rem;
    color: #00d5ff; 
    margin: 40px 0;
    font-weight: bold;
    text-shadow: 0 0 15px rgba(0, 212, 255, 0.5);
}

/* (About/Artist) */
/* This just seperates the infromation about the artist from the lyrics */
section {
    max-width: 600px;
    margin-top: 60px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

section h3 {
    font-family: 'Cinzel', serif;
    margin-bottom: 15px;
    color: #888;
}

/* Footer Fine Print */
footer {
    margin-top: 100px;
    font-size: 0.8rem;
    opacity: 0.6;
}

footer a {
    color: #00d4ff;
    text-decoration: none;
}