/*  Reset & Box Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Global Styles (The Dark Background) */
body {
    background-color: #0a0a0a; /* Deep Black */
    color: #e0e0e0; /* Bone/Silver Text */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

/*  This is where i decided to create a archway of sorts to portray the Album Cover*/
article {
    background: #000;
    max-width: 400px;
    padding: 300px 50px;
    margin: 40px 0;
    border-radius: 350px 350px 0 0; /* Creates the Arch */
    border: 1px solid #ff0000;
}